.header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 15px 50px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
}
.userInfo{
    display: flex;
    align-items: center;
    background-color: #E3F2FF;
    border-radius: 100px;
    border: 3px solid #E3F2FF;
    height: 30px;
    cursor: pointer;
}
.displayImage{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
}
.username{
    margin-right: 15px;
    text-transform: capitalize;
}