.mainContent{
    padding: 30px 50px;
    position: absolute;
    margin-top: 50px;
}
.title{
    font-family: "Inter";
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
.description{
    font-size: 22px;
    width: 540px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.controlsDiv{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    width: 560px;
}
.createRoombtn{
    display: flex;
    align-items: center;
    background-color: #0088FF;
    color: #FFFFFF;
    border: none;
    padding: 10px 28px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}
.addicon{
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Icons/add.png);
}
.formdiv{
    display: flex;
    border: 2px solid #0088FF;
    background-color: #E3F2FF;
    border-radius: 10px;
    width: 350px;
    height: 40px;
}
.linkinput{
    width: 280px;
    height: 100%;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
    font-size: 14px;
    background-color: #E3F2FF;
}
.joinicon{
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Icons/join.png);
}
.joinbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border: none;
    border-radius: 0px 3px 3px 0px;
    background-color: #0088FF;
    cursor: pointer;
}
.visible{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
}
.loadingtxt{
    color: white;
    font-size: 30px;
}
.hidden{
    display: none;
    visibility: hidden;
}
.footer{
    position: absolute;
    bottom: 0;
}
.footertxt{
    padding: 20px 70px 20px 70px;
}