@font-face {
    font-family: "Comfortaa";   
    src: url("../fonts/Comfortaa/static/Comfortaa-Regular.ttf");
}
.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 118px;
}
.logo{
    width: 38px,;
    height: 38px;
}
.p{
    font-size: '30px';
    font-weight: '500';
    font-size: 25px;
    font-family: 'Comfortaa';
}