.vidcont{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
}
.vids{
    width: 500px;
    border: 2px solid #0088ff;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #202124;
}
.controls{
    display: block;
    /* background-color: red; */
    width: 100%;
    height: 13%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 100%;
    height: 85vh;
    padding-top: 10px;
    display: flex;
    /* background-color: red; */
    justify-content: space-evenly;
}
.speaker{
    display: block;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3C4043;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}
.sidepanel{
    display: block;
    width: 25%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 15px;
    padding: 30px 20px;
}
.userImage{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.center{
    display: flex;
    justify-content: center;
}
.username{
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    width: fit-content;
    /* background-color: rgba(255, 255, 255, 0.075); */
    text-transform: capitalize;
    /* padding: 4px 20px; */
    /* border-radius: 20px; */
    /* position: absolute; */
    margin: 10px 15px;
}
.roomdiv{
    display: flex;
    justify-content: space-between;
    background-color: #E3F2FF;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.title{
    font-size: 18px;
    font-weight: 500;
}
.description{
    font-size: 14px;
}
.copyicon{
    display: block;
    width: 25px;
    height: 25px;
    background-size: cover;
    cursor: pointer;
    background-image: url(../images/Icons/copy.png);
}
.centercontrols{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
    width: fit-content;
    padding: 8px 10px;
    border-radius: 60px;
    width: 325px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}
.iconcontainer{
    background-color: rgba(255, 255, 255, 0.185);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
}
.microphone{
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(../images/Icons/microphone.png);
}
.present{
    display: block;
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url(../images/Icons/present.png);
}
.chat{
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(../images/Icons/audio.png);
}
.info{
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(../images/Icons/information.png);
}
.leaveroom{
    background-color: #EA4335;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 12px 18px;
    border-radius: 50px;
}
.smallmiccont{
    width: fit-content;
    margin: 10px 15px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.075);
}
.smallmic{
    display: block;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-image: url(../images/Icons/microphone.png);
}