.smallVisualizer{
    background-color: #0088FF;
    width: 27px;
    height: 27px;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.dots{
    margin: 1px;
    background-color: white;
    width: 4px;
    height: 5px;
    border-radius: 5px;
}
.circle{
    background-color: #6A6B70;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: block;
    position: absolute;
}
.userImage{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C4043;
    width: 100vw;
    height: 100vh;
}
.body{
    position: relative;
    width: fit-content;
    /* background-color: #4A4E51; */
}