.vidcont{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
}
.vids{
    width: 500px;
    border: 2px solid #0088ff;
}